{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denuncia Anônima</title>
    <link rel="shortcut icon" href="{% static 'denuncia/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'denuncia/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="inter-title">Denuncia Anônima</h1>
    </header>
    
    <main>
        
        <h1>Envie sua denúncia e informe alguém!</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <h1>Denúncias:</h1>
        {% for i in denuncias %}
        <div class="denuncia">
            <details open>
                <summary>{{i.titulo}}</summary>
                <p>{{i.descricao}}</p>
                <p>No local: {{i.local}}, postado em {{i.data}}</p>
                <img src="media/{{i.fotos}}" alt="Foto de {{i.titulo}}">
            </details>
        </div>
        {% endfor %}
    </main>
</body>
</html>